@model Treater2.Models.ReleaseSheet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReleaseSheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Board)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sheets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sheets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rejected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rejected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
